Demo_raspberry.json
[{"id":"6d38214.5a054e","type":"tab","label":"Demo_Rasp","disabled":false,"info":""},{"id":"53e24620.02aa28","type":"rpi-gpio out","z":"6d38214.5a054e","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":520,"y":100,"wires":[]},{"id":"e2369e1a.d33cb","type":"ds18b20","z":"6d38214.5a054e","name":"","sensorid":"28-0417617142ff","timer":"0.09","x":140,"y":100,"wires":[["1714194e.6a1f17","eb1aae3c.858d4","13b05fb.6a5e5a","d89f7ee9.c5d3b"]]},{"id":"1714194e.6a1f17","type":"function","z":"6d38214.5a054e","name":"","func":"val = msg.payload;\n\nif (val > 24){\n    return{payload : 1};\n}\nelse if (val < 24){\n    return{payload : 0};\n}\n    \n","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["53e24620.02aa28","ad6b148e.e82998"]]},{"id":"eb1aae3c.858d4","type":"wiotp out","z":"6d38214.5a054e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"6ef2905b.569aa","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":370,"y":160,"wires":[]},{"id":"13b05fb.6a5e5a","type":"wiotp out","z":"6d38214.5a054e","authType":"d","qs":"true","qsDeviceId":"1f337364.5d690d","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":370,"y":40,"wires":[]},{"id":"ad6b148e.e82998","type":"debug","z":"6d38214.5a054e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":40,"wires":[]},{"id":"d89f7ee9.c5d3b","type":"debug","z":"6d38214.5a054e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":220,"wires":[]},{"id":"6ef2905b.569aa","type":"wiotp-credentials","z":"","name":"demo","org":"451ldz","serverName":"","devType":"RaspberryPi","devId":"rasp1","keepalive":"60","cleansession":false,"tls":"","usetls":false}]